/* General Styling */
* {
  padding:0;
  margin:0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  background-color: rgba(226, 226, 230, 0.356);
}

.main-container{
display:flex;
height:100vh;

}



h1{
  background-color: #fff;
  text-align: center;
  padding: 1rem 0;
  border:0.7px solid #c1c5c7;
}

nav {
  background-color:#fff;
  width:150px;
  border:0.7px solid #c1c5c7;
  
}

nav ul {
  
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  /* padding: 10px; */
  list-style: none;
  justify-content: flex-start;
  align-items: flex-start;
}

nav ul li {
  display: flex;
  width:150px;
  justify-content: center;
  align-items: center;
  gap:10px;
  padding:10px 0;
 
 
}

nav ul li:hover{
  background-color: rgba(226, 226, 230, 0.356);
}

nav ul li:active{
  background-color: rgba(226, 226, 230, 0.356);
}



nav a {
  padding:0 20px;
  text-decoration: none;
  color: blue;
  font-size: 18px;

  
}


.home-icon, .timer-icon{

 
  width:20px;
  height:20px;
  color:blue;
  font-size: 1rem;
  margin-right:10px;
  
}

.input-container{
  background-color: #fff;
  border:0.7px solid #c1c5c7;
  width:1000px;

  
  
}

.task-input{
  width:1000px;
  background-color: white;
  /* border: 1px solid; */
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.1), /* Light top shadow */
              0px 3px 8px rgba(0, 0, 0, 0.1);
  border:1px solid #c1c5c7; 
  
 
}

.time-box{
  padding:0.3rem;
  display:flex; 
  justify-content: flex-start;
  align-items:flex-start;
  gap:0.5rem;
 background-color: #fff;
 /* border:1px solid #c1c5c7; */
  border-top:none;
 
}

input{
  width:850px;
  padding:1rem;
  padding-right: 5rem;
  font-size: 1rem;
  border:none;
  /* border:0.7px solid #c1c5c7; */
  color: #333;
}

.input:active{
  border:0.7px solid #c1c5c7;
}

.project-btn{
  background: transparent;
  text-decoration: underline;
  color: blue;
  border:none;
  padding:5px;
  margin: 0 20px;
  font-size: 1rem;
}

.project-btn:hover{
  color: rgb(11, 11, 117)
}

.project-title{
  padding:10px 25px 10px 10px;
  color:blue;
  font-size: 1rem;
  
}

.bill-btn{
  background: transparent;
  color: gray;
  border:none;
  padding:5px 10px 5px 5px;
  margin: 0 5px;
  font-size: 1.5rem;
 
}

.bill-btn:hover{
  color:blue;
}

.t-name{
  font-size: 0.9rem;
  color: #333;
}

.p-name{
  font-size: 0.9rem;
  color: #333;
}

.bill-enabled{
color:blue;
font-size: 1.5rem;

}

.bill-disabled{
  color:gray;
  font-size: 1.5rem; 
 
}

.project-container{
  width:200px;
  display: flex;
  gap: 20px;
  padding: 10px;
 justify-content: space-between;
 align-items: center;
 margin-right: 30px;
 /* border-right: 1px dotted gray; */

  
}

.timer{
  padding:0.5rem;
  font-size: 1.5rem;
  color: #333;

}


.btn, .remove-btn {
  padding: 8px 10px;
  background-color: rgb(79, 142, 224);
  color: #fff;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px;
  margin-top:5px;
}

.btn:hover {
  background-color: rgb(33, 119, 231);
}

.remove-btn {
  background-color: rgb(250, 83, 83);
  
}

.remove-btn:hover {
  background-color: rgb(202, 66, 66);
}

.task-box{
  display:flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 
  
}

.task-heading{
  width:1000px;
  margin:2rem 0 0 0;
  padding:0.5rem 2rem;
  display:flex; 
  justify-content: space-between;
  align-items:center;
  background-color: #E4EAEE;
border:1px solid #c1c5c7;
 
}

.task-heading p{
  
  font-size: 0.9rem;
  color: #333;
}

.totaltime{
  font-size: 1.2rem;
  color: black;
}

.task-list{
  width:1000px;
  display:flex; 
  justify-content: space-between;
  align-items:center;
 padding:0.5rem;
 border:1px solid #c1c5c7;
 background-color: #fff;
 border-bottom:3px solid #E4EAEE;

}

.task-name{
width:200px;
padding:0.5rem;
}

.time-detail{
  width:550px;
  display:flex; 
  justify-content: flex-end;
  align-items:flex-end;
  gap:2rem;
 padding:0.5rem;
 border-left:1px dotted gray;
 
}

.task-list p, .time-detail p{
  font-size: 1rem;
  color: #333;
}

/* Chart */

.chart-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;
  margin:20px;
}

.chart-container h2{
color:blue;
}

.chart-container p{
color: #333;
font-size: 1.2rem;
}





