*{
  padding:0;
  margin:0;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: auto; 
  background-color: #f0f0f0; 
}

h1 {
  color: black;
  text-align: center;
  margin:20px;
  padding:10px;
  font-size: 3rem;
}

.input-container{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%; 
  max-width: 800px; 
  height: 100px;
  margin: 20px auto;
  
  padding: 20px;
}

.input-field {
  background-color: aliceblue;
  padding:10px;
  color:grey;
  border:none;
  border-radius: 10px;
  
}
.input-field:hover {
  border: 1px solid aqua;
}

.btn {
  margin:10px;
  padding:10px;
  background-color: whitesmoke;
  border:none;
  font-size: 1rem;
  color:gray;
}

.btn:hover {
  background-color: rgb(51, 185, 247);
  color: white;
}

.task-input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
}

.task-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  margin:10px;
}

.add-btn {
  margin:10px;
  padding:10px;
  background-color: aqua;
  border:none;
  font-size: 1rem;
  color:gray;
}

.add-btn:hover {
  color: white;
  background-color: rgb(80, 131, 197);
}

.timer {
  padding:5px 20px 5px 0;
  margin:10px;
  font-size: 1.5rem;
  font-weight: 500;
}

h4{
  text-align: center;
  font-size: 2rem;
  color:grey;
}

.task-list {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
  border-bottom: 1px solid #ccc; 
  margin: 5px 0;
  width:100%;
 
}

.task-list div {
  flex: 1; 
  margin-right: 10px; 
}

.task-list div:last-child {
  margin-right: 0; 
}

button {
  padding: 5px 10px;
  background-color: #f44336; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
}

button:hover {
  background-color: #d32f2f; 
}

.time-detail {
  padding:10px;
}

.time-detail p {
  display: inline; 
  margin-right: 10px; 
}